{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <p>
            <h1 class="display-1 text-center"> DJANGO APP </h1>

            <p> En teoria aca iria alguna introduccion extensa de este proyecto pero no estoy de humor a esta hora un miercoles 1:00 am </p>

        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}